@*//******************************************************************************************************
//  EmailGroups.cshtml - Gbtc
//
//  Copyright © 2016, Grid Protection Alliance.  All Rights Reserved.
//
//  Licensed to the Grid Protection Alliance (GPA) under one or more contributor license agreements. See
//  the NOTICE file distributed with this work for additional information regarding copyright ownership.
//  The GPA licenses this file to you under the MIT License (MIT), the "License"; you may
//  not use this file except in compliance with the License. You may obtain a copy of the License at:
//
//      http://opensource.org/licenses/MIT
//
//  Unless agreed to in writing, the subject software distributed under the License is distributed on an
//  "AS-IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. Refer to the
//  License for the specific language governing permissions and limitations.
//
//  Code Modification History:
//  ----------------------------------------------------------------------------------------------------
//  09/12/2016 - Billy Ernest
//       Generated original version of source code.
//
//*******************************************************************************************************@

@using System.Collections.Generic
@using System.Net.Http
@using System.Text.RegularExpressions
@using GSF.Security.Model
@using GSF.Web
@using GSF.Web.Model
@using openXDA
@using openXDA.Model
@using openXDA.Hubs

@inherits ExtendedTemplateBase<AppModel>
@{
    DataContext dataContext = ViewBag.DataContext;
    Layout = "Config/Layout.cshtml";
    ViewBag.Title = "Email Group Users";

    HttpRequestMessage request = ViewBag.Request;

    Dictionary<string, string> parameters = request.QueryParameters();

    if (parameters.ContainsKey("EmailGroupID"))
    {
        ViewBag.EmailGroupID = parameters["EmailGroupID"];
    }
    else
    {
        ViewBag.EmailGroupID = '%';
    }

    if (parameters.ContainsKey("UserAccountID"))
    {
        ViewBag.UserAccountID = parameters["UserAccountID"];
    }
    else
    {
        ViewBag.UserAccountID = '%';
    }

    ViewBag.ParentKeys = ViewBag.EmailGroupID;

    // Define column headers, use null for field name to make column non-sortable
    ViewBag.HeaderColumns = new[]
{   //    { "Field", "Label", "Classes" }
        new[] { "EmailGroup", "Group Name", "text-Left" },
        new[] { "UserName", "User Account", "text-left valign-middle"},

    };

    ViewBag.BodyRows = BodyRows().ToString();
    ViewBag.AddNewEditDialog = AddNewEditDialog(dataContext).ToString();
    ViewBag.AddNewEditTitle = "Email Group Type";
    ViewBag.ShowSearchFilter = true;

}

@helper BodyRows()
{
    <td width="25%" class="text-left valign-middle" nowrap><a class="btn btn-link" data-bind="text: EmailGroup, attr: { href: '/Config/EmailGroups.cshtml?GroupID=' + EmailGroupID }"></a></td>
    <td width="25%" class="text-left valign-middle" nowrap><a id="accountNameLink" class="btn btn-link" data-bind="text: UserName, $($element)), attr: { href: '/Config/Users.cshtml' }"></a></td>
    <td width="5%" class="text-center valign-middle" nowrap>
        <button type="button" class="btn btn-xs" data-bind="click: $parent.editPageRecord, enable: $parent.dataHubIsConnected()"><span class="glyphicon glyphicon-pencil"></span></button>
        <button type="button" class="btn btn-xs" data-bind="click: $parent.removePageRecord, enable: $parent.canDelete() && $parent.dataHubIsConnected()"><span class="glyphicon glyphicon-remove"></span></button>
    </td>
}
@helper AddNewEditDialog(DataContext dataContext)
{
    @Raw(dataContext.AddSelectField<EmailGroupUserAccount, EmailGroup>("EmailGroupID", "ID", "Name"))
    @Raw(dataContext.AddSelectField<EmailGroupUserAccount, UserAccount>("UserAccountID", "ID", "Name"))

}
@Html.RenderResource("GSF.Web.Model.Views.PagedViewModel.cshtml")
@section Scripts
{
    <script>
        @Raw(dataContext.RenderViewModelConfiguration<EmailGroupUserAccount, DataHub>(ViewBag, null, null, int.Parse(ViewBag.EmailGroupID)))

        function lookupAccountName(UserAccountID, element) {
            if (viewModel.dataHubIsConnected()) {
                securityHub.sidToAccountName(lookupUserAccountName(UserAccountID)).done(function (accountName) {
                   element.text(accountName);
                });
            }
        }
        
        $('#addNewEditDialog').on('shown.bs.modal', function () {
            $.each($('#selectUserAccountID').children(), function (i, option) {
                if (viewModel.dataHubIsConnected()) {
                    securityHub.sidToAccountName($(option).text()).done(function (accountName) {
                        $(option).text(accountName)

                    });
                }
            });
        });

    </script>
}
