
<GPAFileWatcher>

    <sourceRootPath>\\testserver\folder1\folder2</sourceRootPath>
	<logFileFolder>ApplicationPath</logFileFolder>  
	<logDetail>Normal</logDetail>  
	
	
	<watchActions>
		
		<folder name="one">
			<meterName>DFR</meterName>
			<meterSN> b </meterSN>
			<meterAssetID> c </meterAssetID>
			<meterAlias> d </meterAlias>
			<meterSubstationName> e </meterSubstationName>
			<meterVendor>Qualitrol</meterVendor>
			<meterModel>BEN 5000</meterModel>
			<meterSubstationID> h </meterSubstationID>
			<fileFilter>*.dat *.cfg</fileFilter>  
			<includeSubFolders>Yes</includeSubFolders>   
			<watchCreated action="copy" destination="D:/destination">Yes</watchCreated>
			<description>Cobert #1 - Lines are:  </description>
		</folder>
		
		<folder name="two">
			<meterName>DFR</meterName>
			<meterSN> b </meterSN>
			<meterAssetID> c </meterAssetID>
			<meterAlias> d </meterAlias>
			<meterSubstationName> e </meterSubstationName>
			<meterVendor>Qualitrol</meterVendor>
			<meterModel>BEN 5000</meterModel>
			<meterSubstationID> h </meterSubstationID>
			<fileFilter>*.dat *.cfg</fileFilter>  
			<includeSubFolders>Yes</includeSubFolders>   
			<watchCreated action="copy" destination="D:/destination">Yes</watchCreated>
			<description>Cobert #2 - Lines are:  </description>
		</folder>
		
		<folder name="three">
			<meterName>DFR</meterName>
			<meterSN> b </meterSN>
			<meterAssetID> c </meterAssetID>
			<meterAlias> d </meterAlias>
			<meterSubstationName> e </meterSubstationName>
			<meterVendor>Qualitrol</meterVendor>
			<meterModel>BEN 5000</meterModel>
			<meterSubstationID> h </meterSubstationID>
			<fileFilter>*.dat *.cfg</fileFilter>  
			<includeSubFolders>Yes</includeSubFolders>   
			<watchCreated action="copy" destination="D:/destination">Yes</watchCreated>
			<description>Douglas - Lines are:  </description>
		</folder>
		
		<folder name="four">
			<meterName>DFR</meterName>
			<meterSN> b </meterSN>
			<meterAssetID> c </meterAssetID>
			<meterAlias> d </meterAlias>
			<meterSubstationName> e </meterSubstationName>
			<meterVendor>Qualitrol</meterVendor>
			<meterModel>BEN 5000</meterModel>
			<meterSubstationID> h </meterSubstationID>
			<fileFilter>*.dat *.cfg</fileFilter>  
			<includeSubFolders>Yes</includeSubFolders>   
			<watchCreated action="copy" destination="D:/destination">Yes</watchCreated>
			<description>Pickwick - Lines are:  </description>
		</folder>
		
		<folder name="five">
			<meterName>DFR</meterName>
			<meterSN> b </meterSN>
			<meterAssetID> c </meterAssetID>
			<meterAlias> d </meterAlias>
			<meterSubstationName> e </meterSubstationName>
			<meterVendor>Qualitrol</meterVendor>
			<meterModel>BEN 5000</meterModel>
			<meterSubstationID> h </meterSubstationID>
			<fileFilter>*.dat *.cfg</fileFilter>  
			<includeSubFolders>Yes</includeSubFolders>   
			<watchCreated action="copy" destination="D:/destination">Yes</watchCreated>
			<description>Charleston - Lines are:  </description>
		</folder>
		
		<folder name="six">
			<meterName>DFR</meterName>
			<meterSN> b </meterSN>
			<meterAssetID> c </meterAssetID>
			<meterAlias> d </meterAlias>
			<meterSubstationName> e </meterSubstationName>
			<meterVendor>Qualitrol</meterVendor>
			<meterModel>BEN 5000</meterModel>
			<meterSubstationID> h </meterSubstationID>
			<fileFilter>*.dat *.cfg</fileFilter>  
			<includeSubFolders>Yes</includeSubFolders>   
			<watchCreated action="copy" destination="D:/destination">Yes</watchCreated>
			<description>Franklin #2 - Lines are:  </description>
		</folder>
		
		<folder name="seven">
			<meterName>DFR</meterName>
			<meterSN> b </meterSN>
			<meterAssetID> c </meterAssetID>
			<meterAlias> d </meterAlias>
			<meterSubstationName> e </meterSubstationName>
			<meterVendor>Qualitrol</meterVendor>
			<meterModel>BEN 5000</meterModel>
			<meterSubstationID> h </meterSubstationID>
			<fileFilter>*.dat *.cfg</fileFilter>  
			<includeSubFolders>Yes</includeSubFolders>   
			<watchCreated action="copy" destination="D:/destination">Yes</watchCreated>
			<description>Fort Loudoun - Lines are:  </description>
		</folder>
		
		<folder name="eight">
			<meterName>DFR</meterName>
			<meterSN> b </meterSN>
			<meterAssetID> c </meterAssetID>
			<meterAlias> d </meterAlias>
			<meterSubstationName> e </meterSubstationName>
			<meterVendor>Qualitrol</meterVendor>
			<meterModel>BEN 5000</meterModel>
			<meterSubstationID> h </meterSubstationID>
			<fileFilter>*.dat *.cfg</fileFilter>  
			<includeSubFolders>Yes</includeSubFolders>   
			<watchCreated action="copy" destination="D:/destination">Yes</watchCreated>
			<description>Oakwood- Lines are:  </description>
		</folder>
		
		<folder name="nine">
			<meterName>DFR</meterName>
			<meterSN> b </meterSN>
			<meterAssetID> c </meterAssetID>
			<meterAlias> d </meterAlias>
			<meterSubstationName> e </meterSubstationName>
			<meterVendor>Qualitrol</meterVendor>
			<meterModel>BEN 5000</meterModel>
			<meterSubstationID> h </meterSubstationID>
			<fileFilter>*.dat *.cfg</fileFilter>  
			<includeSubFolders>Yes</includeSubFolders>   
			<watchCreated action="copy" destination="D:/destination">Yes</watchCreated>
			<description>Springfield - Lines are:  </description>
		</folder>
		
		<folder name="ten">
			<meterName>DFR</meterName>
			<meterSN> b </meterSN>
			<meterAssetID> c </meterAssetID>
			<meterAlias> d </meterAlias>
			<meterSubstationName> e </meterSubstationName>
			<meterVendor>Qualitrol</meterVendor>
			<meterModel>BEN 5000</meterModel>
			<meterSubstationID> h </meterSubstationID>
			<fileFilter>*.dat *.cfg</fileFilter>  
			<includeSubFolders>Yes</includeSubFolders>   
			<watchCreated action="copy" destination="D:/destination">Yes</watchCreated>
			<description>Bull Run #1- Lines are:  </description>
		</folder>
		
		
	</watchActions>
		
	
</GPAFileWatcher>