
<EDAfilewatcher>

	<!-- Authenticates to file share -->
	<!--
    <fileshare>
		<name>\\server\share</name>
		<domain>DOMAIN</domain>
		<username>TestUser</username>
		<password encrypted="false">test</password>
	</fileshare>
	-->
	
	<!-- Alternate format for fileshare section
    <fileshare>
		<name>\\server\share</name>
		<username>DOMAIN\TestUser</username>
		<password>test</password>
	</fileshare>
	-->
	
	<!-- Additional fileshare sections can be added to authenticate to each
    <fileshare>
		<name>\\server2\share</name>
		<domain>DOMAIN</domain>
		<username>TestUser2</username>
		<password encrypted="false">test2</password>
	</fileshare>
	-->

    <sourceRootPath>C:\Projects\openFLE\Main\Build\Output\Debug\Applications\openFLE\Watch</sourceRootPath>
  
    <!--
      Watch Actions below can be defined for any folder under the root through specifiction of the folder name.
      
      .e.g., "one\two"
      
      or, in the special case of the root the forlder name "sourceroot" (not case sensisitve) must be used.
      
      Note that if sourceroot is used and processing of subfolders is selected than processing the root will
      occur first would result in multiple actions on files.  (or, in the case of move operations, will result
      in error conditions for all watch actions following the move operation directed by the root action.)
      
      A similar situation occurs when wathing folders at multiple levels with "includeSubfolders" set to "true".
      
      e.g., watching "one" as well as "one\two\three"
  
    -->
  

    <!-- 
      
     Options for inclusion in the field destination field for each destination folder or destination file name
    
    (1) Any of the HTML tag names under folder that include "meter" as a prefix, e.g., {meterName}
    (2) {filedatetime} or {filedate} or {filetime}
    (3) (currentdatetime} or {currentdate} {currenttime}
    (4) {existingFilename} - the filename of the file that raised the event
    (5) {folder}, {folder-1}, {folder-2}, etc for all the folder levels (up to 9} starting at the current folder of the full path for the existing filename
            i.e.., folder, folder minus 1, etc.
    (6) {apppath} - the location of the filewather executable
    
    e.g., "T:\{folder-1}-{existingFilename}_{datetime}"
          "\\myserername\share\myfaultfiles\{folder}\{meterAssetID}-{meterSubstationID}"
          
          If missing or null file pattern default == "{apppath}\files\{meterAssetID}_{datetime}"
          
          Notes: (1) All spacing in pattern is removed
                 (2) Field names are not case sensitive, i.e., {METERname} and {Folder-3} OK.
                 (3) The file extension name of the source file is preserved and is not modified by FileWatcher.
                 
    -->
	
	<watchActions>
		
		<folder name=".">
			<meterName>Bullrun</meterName> <!-- Specified below as the prefix of the destination file -->
			<meterSN> b </meterSN>
			<meterAssetID> c </meterAssetID>
			<meterAlias> d </meterAlias>
			<meterSubstationName> e </meterSubstationName>
			<meterVendor> f </meterVendor>
			<meterModel> g </meterModel>
			<meterSubstationID> h </meterSubstationID>
			<produceResultsXML>Yes</produceResultsXML>
			<includeSubFolders>Yes</includeSubFolders>
			<fileFilter>*.dat, *.cfg</fileFilter>  <!-- default is no filter, i.e., "*.*" -->
			<watchCreated action="copy"
						  destinationFolder ="C:\Projects\openFLE\Main\Build\Output\Debug\Applications\openFLE\Drop"
						  destinationFileName = "1884_{existingFilename}" > <!-- Use meterName as prefix of destination files -->
				Yes
			</watchCreated>
			<description> i </description>
		</folder>
		
		<!-- Add additional subfolders here
		<folder name="bullrun1">
			<meterName>Bullrun</meterName>
			<meterSN> b </meterSN>
			<meterAssetID> c </meterAssetID>
			<meterAlias> d </meterAlias>
			<meterSubstationName> e </meterSubstationName>
			<meterVendor> f </meterVendor>
			<meterModel> g </meterModel>
			<meterSubstationID> h </meterSubstationID>
			<produceResultsXML>Yes</produceResultsXML>
			<includeSubFolders>Yes</includeSubFolders>
			<fileFilter>*.dat, *.cfg</fileFilter>
			<watchCreated action="copy"
						  destinationFolder ="{appPath}\testfiles"
						  destinationFileName = "{meterName}_{existingFilename}" >
				Yes
			</watchCreated>
			<description> i </description>
		</folder>
		-->
		
	</watchActions>
		
	
</EDAfilewatcher>