<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false">
  
	  <!--
  <extensions>
    <add assembly="Harvester.Integration.NLog, Version=2.0.0.0, Culture=neutral, PublicKeyToken=2335e074c59acad6"/>
  </extensions> -->
 
  <variable name="appName" value="FileWatcher" />
 
  <targets async="true">
		<target xsi:type="File"
            name="default"            
            layout="${longdate} - ${level:uppercase=true}: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}"
            fileName="${basedir}/logs/${appName} ${shortdate}.log"
            keepFileOpen="false"
            archiveNumbering="Sequence"
            archiveEvery="Day"
            maxArchiveFiles="30"
            />
			<!--
			archiveFileName="${specialfolder:ApplicationData}\${appName}\Debug_${shortdate}.{##}.log"
			fileName="${specialfolder:ApplicationData}\${appName}\Debug.log"
			-->
			
		<target xsi:type="Console"
			name="console"
			layout="${when:when=level==LogLevel.Error:${level:uppercase=true}\: ${message}}${when:when=level!=LogLevel.Error:${message}" />
    
		<target xsi:type="EventLog"
            name="eventLog"
            source="${appName}"
            layout="${message}${newline}${exception:format=ToString}"/>
			
	    <!-- COMMENT OUT FOR Production
		<target xsi:type="Harvester" 
			name="Harvester" 
			bufferType="NamedPipeBuffer" 
			binding ="\\.\pipe\Harvester" mutexName="HarvesterMutex" />
		  -->
    
  </targets>
  
  <rules>
  
   <!-- <logger name="*" writeTo="Harvester" minlevel="Info" /> -->
    <logger name="*" writeTo="default" minlevel="Info" />
	<logger name="*" writeTo="console" minlevel="Info" />
    <logger name="*" writeTo="eventlog" minlevel="Warn" />
	
  </rules>
  
</nlog>