<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FaultData.Properties.Settings.openXDAConnectionString"
            connectionString="Server=172.21.1.157;DataBase=GTC4;User Id=EPRI;Password=1234"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>