<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\..\Applications\openXDA\openXDA\packages.config" />
  <repository path="..\..\Applications\XDAFileWatcher\XDAFileWatcher\packages.config" />
  <repository path="..\..\Libraries\FaultData\packages.config" />
</repositories>