<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="{A568D847-5068-4EFD-A4A2-62202834DA52}" Name="openFLE" Language="1033" Version="!(bind.FileVersion.openFLE.exe)" Manufacturer="Grid Protection Alliance" UpgradeCode="c3e729b7-9d8d-418f-ae83-a2ebcfbc03c4">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="openFLE" Level="1" ConfigurableDirectory="INSTALLFOLDER">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>

    <!-- User Interface -->
    <UIRef Id="WixUI_InstallDir" />
    <UIRef Id="WixUI_ErrorProgressText" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)\INSTALL_LICENSE.rtf" />
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
      <?if $(var.Platform) = x64 ?>
        <Directory Id="ProgramFiles64Folder">
          <!-- C:\Program Files\openFLE -->
          <Directory Id="INSTALLFOLDER" Name="openFLE">
            <Directory Id="DROPFOLDER" Name="Drop" />
            <Directory Id="RESULTSFOLDER" Name="Results" />
            <Directory Id="DEBUGFOLDER" Name="Debug" />
          </Directory>
        </Directory>
      <?else ?>
        <Directory Id="ProgramFilesFolder">
          <!-- C:\Program Files (x86)\openFLE -->
          <Directory Id="INSTALLFOLDER" Name="openFLE">
            <Directory Id="DROPFOLDER" Name="Drop" />
            <Directory Id="RESULTSFOLDER" Name="Results" />
            <Directory Id="DEBUGFOLDER" Name="Debug" />
          </Directory>
        </Directory>
      <?endif ?>

      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="openFLE" />
      </Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <!-- Applications -->
			<Component Id="openFLE">
        <File Id="openFLE.exe" Name="$(var.openFLE.TargetFileName)" Source="$(var.openFLE.TargetPath)" />
        <ServiceInstall Id="openFLEService" Name="openFLE" Type="ownProcess" Start="auto" ErrorControl="normal" Description="Engine for detecting and locating faults by analyzing power quality data files." />
        <ServiceControl Id="openFLEServiceControl" Name="openFLE" Start="install" Stop="both" Remove="uninstall" />
			</Component>
      <Component Id="openFLEConsole">
        <File Id="openFLEConsole.exe" Name="$(var.openFLEConsole.TargetFileName)" Source="$(var.openFLEConsole.TargetPath)" />
      </Component>
      <Component Id="openFLEManager">
        <File Id="openFLEManager.exe" Name="$(var.openFLEManager.TargetFileName)" Source="$(var.openFLEManager.TargetPath)" />
      </Component>
      <Component Id="openFLEConfig">
        <File Id="openFLE.exe.config" Name="$(var.openFLE.TargetFileName).config" Source="$(var.openFLE.TargetPath).config" />
      </Component>
      <Component Id="openFLEConsoleConfig">
        <File Id="openFLEConsole.exe.config" Name="$(var.openFLEConsole.TargetFileName).config" Source="$(var.openFLEConsole.TargetPath).config" />
      </Component>
      <Component Id="openFLEManagerShortcut">
        <Shortcut Id="openFLEManagerStartMenuShortcut" Name="openFLE Manager" Description="Manager application for the openFLE service." Target="[INSTALLFOLDER]openFLEManager.exe" WorkingDirectory="INSTALLFOLDER" Directory="ApplicationProgramsFolder" />
        <RegistryValue Root="HKCU" Key="Software\Grid Protection Alliance\openFLE" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>

      <!-- Libraries -->
      <Component Id="FaultAlgorithms">
        <File Id="FaultAlgorithms.dll" Name="$(var.FaultAlgorithms.TargetFileName)" Source="$(var.FaultAlgorithms.TargetPath)" />
      </Component>
      
      <!-- DotNetZip Dependencies -->
      <Component Id="Ionic.Zlib">
        <File Id="Ionic.Zlib.dll" Name="Ionic.Zlib.dll" Source="$(var.SolutionDir)\Dependencies\DotNetZip\Ionic.Zlib.dll" />
      </Component>

      <!-- GSF Dependencies -->
      <Component Id="Comtrade">
        <File Id="Comtrade.dll" Name="Comtrade.dll" Source="$(var.SolutionDir)\Dependencies\GSF\Comtrade.dll" />
      </Component>
      <Component Id="GSF.Communication">
        <File Id="GSF.Communication.dll" Name="GSF.Communication.dll" Source="$(var.SolutionDir)\Dependencies\GSF\GSF.Communication.dll" />
      </Component>
      <Component Id="GSF.Core">
        <File Id="GSF.Core.dll" Name="GSF.Core.dll" Source="$(var.SolutionDir)\Dependencies\GSF\GSF.Core.dll" />
      </Component>
      <Component Id="GSF.PhasorProtocols">
        <File Id="GSF.PhasorProtocols.dll" Name="GSF.PhasorProtocols.dll" Source="$(var.SolutionDir)\Dependencies\GSF\GSF.PhasorProtocols.dll" />
      </Component>
      <Component Id="GSF.PQDIF">
        <File Id="GSF.PQDIF.dll" Name="GSF.PQDIF.dll" Source="$(var.SolutionDir)\Dependencies\GSF\GSF.PQDIF.dll" />
      </Component>
      <Component Id="GSF.Security">
        <File Id="GSF.Security.dll" Name="GSF.Security.dll" Source="$(var.SolutionDir)\Dependencies\GSF\GSF.Security.dll" />
      </Component>
      <Component Id="GSF.ServiceProcess">
        <File Id="GSF.ServiceProcess.dll" Name="GSF.ServiceProcess.dll" Source="$(var.SolutionDir)\Dependencies\GSF\GSF.ServiceProcess.dll" />
      </Component>
      <Component Id="GSF.TimeSeries">
        <File Id="GSF.TimeSeries.dll" Name="GSF.TimeSeries.dll" Source="$(var.SolutionDir)\Dependencies\GSF\GSF.TimeSeries.dll" />
      </Component>
      
      <!-- Cleanup -->
      <Component Id="Cleanup" Guid="{C8EBB158-C708-4C94-87C1-F5DBC77D7BDE}">
        <CreateFolder />
        <RemoveFolder Id="RemoveDropFolder" Directory="DROPFOLDER" On="uninstall" />
        <RemoveFolder Id="RemoveResultsFolder" Directory="RESULTSFOLDER" On="uninstall" />
        <RemoveFolder Id="RemoveDebugFolder" Directory="DEBUGFOLDER" On="uninstall" />
        <RemoveFolder Id="RemoveApplicationProgramsFolder" Directory="ApplicationProgramsFolder" On="uninstall" />
        <RemoveFolder Id="RemoveInstallFolder" Directory="INSTALLFOLDER" On="uninstall" />
      </Component>
		</ComponentGroup>
	</Fragment>
</Wix>