<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="categorizedSettings" type="GSF.Configuration.CategorizedSettingsSection, GSF.Core"/>
	</configSections>
	<categorizedSettings>
		<systemSettings>
			<add name="ConnectionString" value="Data Source=pqdashboard; Initial Catalog=openXDA2; Integrated Security=SSPI" description="Defines the connection to the openXDA database." encrypted="false"/>
			<add name="DataProviderString" value="AssemblyName={System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089}; ConnectionType=System.Data.SqlClient.SqlConnection; AdapterType=System.Data.SqlClient.SqlDataAdapter" description="Configuration database ADO.NET data provider assembly type creation string used when ConfigurationType=Database" encrypted="false"/>
			<add name="NodeID" value="00000000-0000-0000-0000-000000000000" description="Unique Node ID" encrypted="false"/>
			<add name="WebHostURL" value="http://+:8989" description="The web hosting URL for remote system management." encrypted="false"/>
			<add name="WebRootPath" value="wwwroot" description="The root path for the hosted web server files. Location will be relative to install folder if full path is not specified." encrypted="false"/>
			<add name="TemplatePath" value="Eval(systemSettings.WebRootPath)" description="Path for data context based razor field templates." encrypted="false"/>
			<add name="EmbeddedTemplatePath" value="GSF.Web.Model.Views." description="Embedded name space path for data context based razor field templates." encrypted="false"/>
			<add name="ClientCacheEnabled" value="true" description="Determines if cache control is enabled for browser clients." encrypted="false"/>
			<add name="DefaultWebPage" value="index.cshtml" description="The default web page for the hosted web server." encrypted="false"/>
			<add name="CompanyName" value="Grid Protection Alliance" description="The name of the company who owns this instance of the openMIC." encrypted="false"/>
			<add name="CompanyAcronym" value="GPA" description="The acronym representing the company who owns this instance of the openMIC." encrypted="false"/>
			<add name="DefaultCulture" value="en-US" description="Default culture to use for language, country/region and calendar formats." encrypted="false"/>
			<add name="DateFormat" value="MM/dd/yyyy" description="The date format to use when rendering timestamps." encrypted="false"/>
			<add name="TimeFormat" value="HH:mm.ss.fff" description="The time format to use when rendering timestamps." encrypted="false"/>
			<add name="BootstrapTheme" value="Content/bootstrap-theme.min.css" description="Path to Bootstrap CSS to use for rendering styles." encrypted="false"/>
		</systemSettings>
		<securityProvider>
			<add name="ApplicationName" value="openXDA" description="Name of the application being secured as defined in the backend security datastore." encrypted="false"/>
			<add name="ProviderType" value="GSF.Security.AdoSecurityProvider, GSF.Security" description="The type to be used for enforcing security." encrypted="false"/>
			<add name="UserCacheTimeout" value="0" description="Defines the timeout, in whole minutes, for a user's provider cache. Any value less than 1 will cause cache reset every minute." encrypted="false"/>
			<add name="IncludedResources" value="UpdateSettings,UpdateConfigFile=Special; Settings,Schedules,Help,Status,Version,Time,User,Health,List,Invoke,ListCommands,ListReports,GetReport=*; Processes,Start,ReloadCryptoCache,ReloadSettings,Reschedule,Unschedule,SaveSchedules,LoadSchedules,ResetHealthMonitor,Connect,Disconnect,Initialize,ReloadConfig,Authenticate,RefreshRoutes,TemporalSupport,LogEvent,GenerateReport,ReportingConfig=Administrator,Editor; *=Administrator" description="Semicolon delimited list of resources to be secured along with role names." encrypted="false"/>
			<add name="ExcludedResources" value="" description="Semicolon delimited list of resources to be excluded from being secured." encrypted="false"/>
			<add name="NotificationSmtpServer" value="localhost" description="SMTP server to be used for sending out email notification messages." encrypted="false"/>
			<add name="NotificationSenderEmail" value="sender@company.com" description="Email address of the sender of email notification messages." encrypted="false"/>
			<add name="ConnectionString" value="Eval(systemSettings.ConnectionString)" description="Connection connection string to be used for connection to the backend security datastore." encrypted="false"/>
			<add name="DataProviderString" value="Eval(systemSettings.DataProviderString)" description="Configuration database ADO.NET data provider assembly type creation string to be used for connection to the backend security datastore." encrypted="false"/>
			<add name="LdapPath" value="" description="Specifies the LDAP path used to initialize the security provider." encrypted="false"/>
			<add name="CacheRetryDelayInterval" value="1000" description="Wait interval, in milliseconds, before retrying load of user data cache." encrypted="false"/>
			<add name="CacheMaximumRetryAttempts" value="5" description="Maximum retry attempts allowed for loading user data cache." encrypted="false"/>
			<add name="EnableOfflineCaching" value="True" description="True to enable caching of user information for authentication in offline state, otherwise False." encrypted="false"/>
			<add name="PasswordRequirementsRegex" value="^.*(?=.{8,})(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).*$" description="Regular expression used to validate new passwords for database users." encrypted="false"/>
			<add name="PasswordRequirementsError" value="Invalid Password: Password must be at least 8 characters; must contain at least 1 number, 1 upper case letter, and 1 lower case letter" description="Error message to be displayed when new database user password fails regular expression test." encrypted="false"/>
      <add name="AllowedDomainList" value="*" description="Cross-domain access. Can have 1 domain or all domains. Use * for all domains and wildcards, e.g., *.consoto.com." encrypted="false"/>
    </securityProvider>
	</categorizedSettings>
	<startup>
	</startup>
	<runtime>
		<gcServer enabled="true"/>
		<gcConcurrent enabled="true"/>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
	</runtime>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
		</compilers>
	</system.codedom>
</configuration>
